:root {
  --bg-color-body: #e4edf2;
  --bg-color-button-and-content-inactive: rgba(187, 220, 240, 0.7);
  --bg-color-button-hover: rgb(146, 210, 249);
  --bg-color-button-active: rgb(37, 101, 174);
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-body);
  padding: 0.5rem;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 3rem;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 0.4rem;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;

  display: none; /* Hide all elements by default */
}
/* Content */
.content {
  background-color: var(--bg-color-button-and-content-inactive);
  border-radius: 10px;
  padding: 0.4rem;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.myBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the buttons */
.btn,
#custom-button {
  border: 0.05em outset white;
  outline: none;
  padding: 0.75rem 1.25rem;
  background-color: var(--bg-color-button-and-content-inactive);
  cursor: pointer;
  text-transform: UPPERCASE;
  margin: 0.05rem;
}

.btn:hover {
  background-color: var(--bg-color-button-hover);
}

.btn.active,
#custom-button {
  background-color: var(--bg-color-button-active);
  color: white;
}

#myForm {
  display: flex;
  justify-content: center;
}
